<footer class="mt-auto text-white-50 text-center">
  <p style="color: gray;">Dongwoo Kang <br>
    <a href="https://github.com/dustin-kang" style="color: gray;"><i class="fa-brands fa-github fa-lg mx-1"></i></a>
    <a href="https://www.linkedin.com/in/dongwoolinked/" style="color: gray;"><i class="fa-brands fa-linkedin fa-lg mx-1"></i></a>
    <a href="https://www.youtube.com/@dustinyoutube/" style="color: gray;"><i class="fa-brands fa-youtube fa-lg mx-1" ></i></a>
  </p>
  <p style="font-size: 10px; color: gray;" >@2022 DongwooKang All Rights Reserved.</p>
</footer>