  
  <!-- Modal -->
  <div class="modal fade" id="pj1" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">실시간 표정 감정인식 시스템</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="h-section">
                <h3 class="h-title">🔗 Deployment URL</h3>
                <a href="#">http://www.youtube.com/channel/</a>
            </div>
            <div class="h-section">
                <h3 class="h-title">👨‍💻 Summary</h3>
                <p class="h-p"></p>
            </div>
            <div class="h-section">
                <h3 class="h-title">🤔 Background</h3>
                <p class="h-p"></p>
            </div>
            <div class="h-section">
                <h3 class="h-title">🔍 Meaning</h3>
                <p class="h-p"></p>
            </div>
            <div class="h-section">
                <h3 class="h-title">🪄 Stacks</h3>
                <p class="h-p"></p>
            </div>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Modal -->
  <div class="modal fade" id="pj2" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">실시간 표정 감정인식 시스템</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="h-section">
                <h3 class="h-title">🔗 Deployment URL</h3>
                <a href="#">http://www.youtube.com/channel/</a>
            </div>
            <div class="h-section">
                <h3 class="h-title">👨‍💻 Summary</h3>
                <p class="h-p"></p>
            </div>
            <div class="h-section">
                <h3 class="h-title">🤔 Background</h3>
                <p class="h-p"></p>
            </div>
            <div class="h-section">
                <h3 class="h-title">🔍 Meaning</h3>
                <p class="h-p"></p>
            </div>
            <div class="h-section">
                <h3 class="h-title">🪄 Stacks</h3>
                <p class="h-p"></p>
            </div>
        </div>
      </div>
    </div>
  </div>

  
  <!-- Modal -->
  <div class="modal fade" id="pj3" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true" data-bs-keyboard="true">
    <div class="modal-dialog modal-dialog-scrollable modal-lg ">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="exampleModalLabel">실시간 표정 감정인식 시스템</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <div class="h-section">
                <h3 class="h-title">🔗 Deployment URL</h3>
                <a href="#">http://www.youtube.com/channel/</a>
            </div>
            <div class="h-section">
                <h3 class="h-title">👨‍💻 Summary</h3>
                <p class="h-p"></p>
            </div>
            <div class="h-section">
                <h3 class="h-title">🤔 Background</h3>
                <p class="h-p"></p>
            </div>
            <div class="h-section">
                <h3 class="h-title">🔍 Meaning</h3>
                <p class="h-p"></p>
            </div>
            <div class="h-section">
                <h3 class="h-title">🪄 Stacks</h3>
                <p class="h-p"></p>
            </div>
        </div>
      </div>
    </div>
  </div>