<footer class="mt-auto text-white-50">
  <p style="color: gray;">Dongwoo Kang <br>
    <a href="https://github.com/dustin-kang" style="color: gray;"><i class="fa-brands fa-github fa-lg"></i></a>
    <a href="www.linkedin.com/in/dongwoolinked" style="color: gray;"><i class="fa-brands fa-linkedin fa-lg"></i></a>
    <a href="https://www.youtube.com/channel/@dustinyoutube" style="color: gray;"><i class="fa-brands fa-youtube fa-lg" ></i></a>
  </p>
  <p style="font-size: 10px; color: gray;" >Cover template for Bootstrap, by @mdo.</p>
</footer>