<footer class="py-3 bg-white">
    <div class="container">
        <div style="text-align:center">
          Copyright &copy; Dustin Website<br>
          <a href="https://github.com/dustin-kang" style="color: black;"><i class="fa-brands fa-github fa-lg"></i></a>
          <a href="www.linkedin.com/in/dongwoolinked" style="color: black;"><i class="fa-brands fa-linkedin fa-lg"></i></a>
          <a href="https://www.youtube.com/channel/@dustinyoutube" style="color: black;"><i class="fa-brands fa-youtube fa-lg" ></i></a>
        </div>
      </p>
    </div>
  </footer>