{% extends 'blogs/base.html' %}

{% block head_title %}
  {{ post.title }} - Dongwoo Kang
{% endblock %}

{% block main_area %}
    <!-- 주제 -->
    <p class="card-text; my-1" style="font-weight:700; font-size: x-small; color:#6e6e73">{{ post.category }}</p>
    <!-- 제목 / 소제목 -->
    <h2 class="card-title" style="font-weight: 700; font-size:50px; color:#1d1d1f; word-break: keep-all;"><strong>{{ post.title }}</strong>
    <h2 class="card-title mb-3" style="font-weight: 700; font-size:x-large; color:#1d1d1f; word-break: keep-all;">{{ post.hook_text }}</h2>
    <!-- 날짜 -->
    <p class="card-text; my-1" style="font-weight:700; font-size: small; color:#6e6e73">{{ post.created_at }}</p><br><br>
    <!-- 프리뷰 이미지/ 콘텐츠 -->
    <p class="card-text; my-1" style="font-size: 20px; color:#1d1d1f; word-break: keep-all; ">
      {% if post.head_image %}
        <img class= "img-fluid rounded" src="{{ post.head_image.url }}" alt=" {{ post.title }} head_image">
      {% else %}
        <img class= "img-fluid rounded mb-5" src="http://picsum.photos/seed/{{ post.id }}/1224/200" alt=" random_image">
      {% endif %}
      {{ post.content }}
    </p>



  <!-- 댓글 -->
  <div id="comment-area">
  </div>
{% endblock %}