{% extends 'blogs/base.html' %} <!-- base 템플릿 상속 -->
{% block main_area %}

  {% for category in categories %}
    <a type="button" class="btn btn-outline-success btn-sm mb-3" href="{{ category.get_absolute_url }}">{{ category }} ({{ category.post_set.count }})</a>
  {% endfor %}

  {% if post_list.exists %}
    {% for p in post_list %}
      <a href="/blog/{{ p.id }}" style="text-decoration: none; color:inherit;" >
        <div id="post-area">
          <div class="row">
            <div class="col-9">
              <h3 class="card-title my-3"><strong>{{ p.title }}</strong></h3>
              <p class="card-text my-2"><small class="text-muted">{{ p.created_at }}</small></p>
              <!-- <p class="card-text text-muted">{{ p.get_content_markdown | truncatechars_html:20 | safe }}</p> -->
              <p class="card-text text-muted">{{ p.hook_text | truncatechars:20 | safe }}</p>
            </div>
            <div class="col-3 text-end">
              {% if post.head_image.url %}
              <img src="{{ p.head_image.url }}" class="card-img-top;" alt="{{ p }} head image">
              {% else %}
              <img src="http://picsum.photos/seed/{{ p.id }}/120/120" class="img-fluid rounded" alt="random_image">
              {% endif %}
            </div>
          </div>
          <hr>
        </div>
      </a>
    {% endfor %} 
  {% else %}
    <h3>아직 게시물이 없습니다.<h3>
  {% endif %}
{% endblock %}

<!-- Pagenation -->
{% block pagenations %}
<div class="btn-toolbar mb-3 justify-content-center" role="toolbar" aria-label="Toolbar with button groups">
  <div class="btn-group me-2" role="group" aria-label="First group">
    <button type="button" class="btn btn-outline-secondary">👈</button>
    <button type="button" class="btn btn-outline-secondary">1</button>
    <button type="button" class="btn btn-outline-secondary">👉</button>
  </div>
</div>
{% endblock %}

