{% extends 'blogs/base.html' %} <!-- base 템플릿 상속 -->
{% block main_area %}

  {% if search_info %}
    <div class="alert alert-success" role="alert">
    {{ search_info }}
    </div>
  {% endif %}
  {% for category in categories %}
    <a type="button" class="btn btn-outline-success btn-sm mb-3" href="{{ category.get_absolute_url }}">{{ category }} ({{ category.post_set.count }})</a>
  {% endfor %}

  {% if post_list.exists %}
    {% for p in post_list %}
      <a href="/blog/{{ p.id }}" style="text-decoration: none; color:inherit;">
        <div id="post-area">
          <div class="row">
            <div class="col-9">
              <h3 class="card-title my-3"><strong>{{ p.title }}</strong></h3>
              <p class="card-text my-2"><small class="text-muted">{{ p.created_at }}</small></p>
              <!-- <p class="card-text text-muted">{{ p.get_content_markdown | truncatechars_html:20 | safe }}</p> -->
              <p class="card-text text-muted">{{ p.hook_text | truncatechars:20 | safe }}</p>
            </div>
            <div class="col-3 text-end">
              {% if post.head_image.url %}
              <img src="{{ p.head_image.url }}" class="card-img-top;" alt="{{ p }} head image">
              {% else %}
              <img src="http://picsum.photos/seed/{{ p.id }}/120/120" class="img-fluid rounded" alt="random_image">
              {% endif %}
            </div>
          </div>
          <hr>
        </div>
      </a>
    {% endfor %} 
  {% else %}
    <h3>아직 게시물이 없습니다.<h3>
  {% endif %}
{% endblock %}

{% block paginated %}
  {% if is_paginated %}
   <ul class="pagination justify-content-center mb-4">
      {% if page_obj.has_previous %}  <!-- 이전 페이지가 존재하는 경우 -->
        <li class="page-item">
          <a class="page-link" href="?page={{ page_obj.previous_page_number }}">이전</a>
        </li>
      {% else %}
        <li class="page-item disabled">
          <a class="page-link" href="#">처음</a>
        </li>      
      {% endif %}
      <li class="page-item">
        <a class="page-link" href="#">{{ page_obj.number }}</a>
      </li>
      {% if page_obj.has_next %} <!-- 이후 페이지가 존재하는 경우-->
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.next_page_number }}">다음</a>
      </li>
    {% else %}
      <li class="page-item disabled">
        <a class="page-link" href="#">끝</a>
      </li>      
    {% endif %}
    </ul>
  {% endif %}
{% endblock %}



