{% extends 'blogs/base.html' %}

{% block head_title %}
  {{ post.title }} - Dongwoo Kang
{% endblock %}

{% block main_area %}
    <!-- 주제 -->
    <main class="px-3" style="text-align: left;">
      <!-- Title -->
      <br>
      <hr>
      <h1 class="card-title mb-1"><strong>{{ post.title }}</strong></h1>
      <p class="card-text"><small class="text-muted">{{ post.created_at }}</small> <span class="badge bg-secondary">{{ post.category }}</span></p>
      <h5 class="card-title mb-3 text-muted">{{ post.hook_text }}</h5>
      {% if post.head_image %}
        <img class= "img-fluid rounded" src="{{ post.head_image.url }}" alt=" {{ post.title }} head_image">
      {% else %}
        {% comment %} <img class= "img-fluid rounded mb-5" src="http://picsum.photos/seed/{{ post.id }}/606/300" alt=" random_image"> {% endcomment %}
      {% endif %}
      <br>
      <!-- POST-->
      <a href="#" style="text-decoration: none; color:inherit;" >
        <div>
          <p class="card-text">{{ post.content }}</p>
          <hr>
        </div>
      </a>
    
      <!-- Comment -->
      <div id="comment-area">
      </div>
    </main>
{% endblock %}