{% extends 'blogs/base.html' %}
{% block main_area %}
<!-- Card -->
{% if post_list.exists %}
{% for p in post_list %}
<div class="col" id="post-area">
  <a href="/blog/{{ p.id }}" style="text-decoration: none; color: black;" >
    <div class="card border-light; rounded; ">
      {% if post.head_image.url %}
        <img src="{{ p.head_image.url }}" class="card-img-top;" alt="{{ p }} head image">
      {% else %}
        <img src="http://picsum.photos/seed/{{ p.id }}/303/170" class= "card-img-top;" alt=" random_image"> 
      {% endif %}
      <div class="card-body">
        <p class="card-text; my-1" style="font-weight:700; font-size: x-small; color:#6e6e73">{{ p.category }}</p>
        <h5 class="card-title" style="font-weight: 700; font-size: x-large; color:#1d1d1f">{{ p.title }}</h5><br>
        <p class="card-text; my-1" style="font-weight:700; font-size: small; color:#6e6e73">{{ p.created_at }}</p>
      </div>
    </div>
  </a>
</div>
{% endfor %}
{% else %}
  <h3>아직 게시물이 없습니다.</h3>
{% endif %}
{% endblock %}


{% block pagenations %}
<!-- Pagenation -->
<nav aria-label="Page navigation example">
  <ul class="pagination justify-content-center">
    <li class="page-item disabled">
      <a class="page-link"><i class="fa-solid fa-chevron-left"></i></a>
    </li>
    <li class="page-item ">
      <a class="page-link"><i class="fa-solid fa-magnifying-glass"></i></a>
    </li>
    <li class="page-item ">
    {% if user.is_authenticated %}
      {% if user.is_superuser or user.is_staff %}    
        <a class="page-link" href="/blog/create_post/" role="button"><i class="fas fa-pen" ></i></a>
      {% endif %}
    {% endif %}    
    </li>
    <li class="page-item disabled">
      <a class="page-link" href="#"><i class="fa-solid fa-chevron-right"></i></a>
    </li>
  </ul>
</nav>

{% endblock %}

